:root {
  ---dark-gray: #333;
  ---gray: #555;
  --pastel-dark-blue: #b1afff;
  --pastel-light-blue: #b8e8fc;
  --pastel-green: #c8ffd4;
  --pastel-yellow: #fdfdbd;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(---dark-gray);
}

/* Header */

header {
  text-align: center;
  position: relative;
}

.header__nav::after {
  content: " ";
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 0.3rem;
  background-color: var(--pastel-light-blue);
  border-radius: 10%;
  margin-bottom: 3rem;
}

.logo img {
  width: 100%;
  height: 18rem;

  object-fit: cover;
}

.header__nav ul li {
  font-size: 2rem;

  /* visible */
  height: 3rem;
  display: block;

  /* hidden */
  height: 0;
  display: none;
}

.nav__button {
  background-color: var(--pastel-light-blue);
  width: 80%;
}

.nav__button i {
  font-size: 3rem;
}

.search-box {
  margin-bottom: 3rem;
  width: 75%;
  height: 3rem;
  font-size: 1.8rem;
}
.search-box__button i {
  font-size: 2rem;
}

/* Main */

main {
  margin-bottom: 2rem;
}

.main-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3.4rem;
  padding: 1rem;
  margin-bottom: 3rem;
  text-align: center;

  background-color: var(--pastel-light-blue);
}

.categories-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  text-align: center;

  justify-items: center;
}

.category {
  font-size: 2rem;
}
.category:hover p {
  background-color: var(--pastel-light-blue);
}

.category img {
  display: block;

  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

/* offer card */
.offer-card {
    display: flex;
    gap: 1rem;

    padding: 1rem;
    border: 1px solid var(---dark-gray);
    border-radius: 5px;
    
    margin-bottom: 1rem;
}

.offer-img {
    width: 20rem;
    border-radius: 5px;
}

.offer-title {
    color: var(---gray);
    font-size: 1.8rem;
    font-weight: 600;
}

.location {
    font-size: 1.4rem;
    font-style: italic;
}

.price{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
}

.price strong {
    font-weight: 600;
}

/* pagination */

.pagination {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pagination-arrow {
    font-size: 3.4rem;
}


/* details */

.detials {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.details-text {
  margin-bottom: 3rem;
}

.main-image {
  width: 90%;
  border-radius: 5px;
}

.details-title {
  font-size: 3rem;
}

.details-buttons {
  display: flex;
  gap: 2rem;
}

.details-buttons button{
  border: 2px solid var(---dark-gray);
  border-radius: 15px;
  padding: 1rem 3rem;
}

.details-buttons button:hover {
  background-color: var(---dark-gray);
  color: #fff;
}
.details-buttons button:active {
  background-color: var(---gray);
}


/* Footer */

footer {
  background-color: var(--pastel-yellow);
  padding: 1rem;
  text-align: center;
}
